body{
    height: 0;
    width: 0;
    box-sizing: border-box;
    background-color: bisque;
    display: flex;
}

.box1{
    padding: 100px;
    height: 500px;
    width: 500px;
    margin-top: 200px;
    margin-left: 500px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
}
.box2{
    padding: 100px;
    height: 500px;
    width: 500px;
    margin-top: 200px;
    margin-left: 300px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
}
a{
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 9px rgba(134, 85, 11);
    border-radius: 5px;
    background-color: antiquewhite;
    text-decoration: none;
    color: #000;
    

}
.boxcheck{
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 800px;
    margin-top: 200px;
    margin-left: 700px;
    border-radius: 50px;
    background-color: #fff;
}